body {
    background-color: darkslategray;
}

.header {
    border-style: groove;
    font-size: 25px;
    margin: auto;
    text-align: center;
    box-shadow: 5px 5px 10px black;
    border-radius: 6px;
    background-color: antiquewhite;
    color: darkslategray;
    width: 1000px;
}

.main {
    border-style: groove;
    margin: auto;
    margin-top: 50px;
    font-size: 25px;
    width: 1000px;
    background-color: antiquewhite;
    color: darkslategray;
    text-align: center;
    box-shadow: 5px 5px 10px black;
    border-radius: 6px;
    height: 200px;
}

input#n1, #n2 {
    height: 30px;
    border-radius: 6px;
    font-size: 25px;
    box-shadow: 2px 2px 1px black;
    text-align: right;
}

button {
    width: 200px;
    height: 45px;
    border-radius: 6px;
    background-color: darkslategray;
    color: antiquewhite;
    border-style: groove;
    border-color: antiquewhite; 
    font-size: 25px;  
}

button:hover{
    background-color: rgb(34, 58, 58);
    color: rgb(199, 188, 173);
}

button:active{
    transform: translateY(2px);
    box-shadow: 2px 2px 1px black;
}