body {
    background-color: darkslategray;
    font-family: cursive;
}

.header {
    border-style: groove;
    font-size: 25px;
    margin: auto;
    text-align: center;
    box-shadow: 5px 5px 10px black;
    border-radius: 6px;
    background-color: antiquewhite;
    color: darkslategray;
    width: 1000px;
}

.main {
    border-style: groove;
    margin: auto;
    margin-top: 30px;
    font-size: 25px;
    width: 1000px;
    background-color: antiquewhite;
    color: darkslategray;
    text-align: center;
    box-shadow: 5px 5px 10px black;
    border-radius: 6px;
    height:auto;
}

input {
    height: 30px;
    width: auto;
    border-radius: 6px;
    font-size: 25px;
    box-shadow: 2px 2px 2px black;
    text-align: right;
    font-family: cursive;
}

button {
    width: 200px;
    height: 45px;
    border-radius: 6px;
    background-color: darkslategray;
    color: antiquewhite;
    border-style: groove;
    border-color: antiquewhite;   
    font-size: 25px;
    font-family: cursive;
}

button:hover{
    background-color: rgb(31, 53, 53);
    color: rgb(167, 156, 142);
}

button:active{
    box-shadow: 2px 2px 2px black;
    transform: translateY(2px);
}

.res{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 40px;
}